@charset "UTF-8";


body{
    background-color: #CED8E1;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    padding: 30px;
}
nav > h2{
    display: inline;
    margin-left: 40px;
    padding: 10px;
    background-color: #102B3E;
    border-radius: 10px;
}
nav > a{ 
    text-decoration: none;
    color: #6466ae;
    font-weight: bold;
}
header{
    background-color: #102B3E;
    color: #6664E3;
    padding: 50px;
}